<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

<script type="text/javascript" src="http://cloudfront.loggly.com/js/loggly.tracker-2.1.min.js" async></script>

<script>
    var _LTracker = _LTracker || [];
    _LTracker.push({'logglyKey': '23b68e7c-1085-4b20-8af7-6a2900e3596c',
    'sendConsoleErrors' : true,
    'tag' : 'gps'  });
</script>

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
</head>

<body ng-app="geo">

    <ion-pane>
        <ion-header-bar class="bar-stable">
            <h3 class="title">Background geolocation</h3>
        </ion-header-bar>

        <ion-view view-title="Geo">
            <ion-content class="has-header" ng-controller="gpsController">

                <div class="list">
                      <label class="item item-input item-stacked-label">
                        <span class="input-label">debug prefix</span>
                        <input type="text" ng-model="prefix.text">
                    </label>
                    
                    
                    <li class="item item-toggle">
                        debug
                        <label class="toggle toggle-assertive">
                            <input type="checkbox" checked  ng-model="options.debug">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </li>
                    <li class="item item-toggle">
                        useActivityDetection
                        <label class="toggle toggle-assertive">
                            <input type="checkbox" checked  ng-model="options.useActivityDetection">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </li>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">desiredAccuracy</span>
                        <input type="number" placeholder="20" ng-model="options.desiredAccuracy">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">distanceFilter</span>
                        <input type="number" placeholder="5" ng-model="options.distanceFilter">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">interval</span>
                        <input type="number" placeholder="9000" ng-model="options.interval">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">fastestInterval</span>
                        <input type="number" placeholder="5000" ng-model="options.fastestInterval">
                    </label>

                </div>

                <button class="button button-block button-balanced" ng-click="start()">
                    Start
                </button>

                <button class="button button-block button-assertive" ng-click="stop()">
                    stop
                </button>
                
             </ion-content>
        </ion-view>

    </ion-pane>
</body>

</html>